*
{
    margin:0px;
    padding:0px;
}
:root
{
    --green:#50C878;
    --red:#F70B0B;
    --yellow:#FFDF00;
    --white:#FFFFFF;
}



/*====================================
 Beginning of header styles 
 =====================================*/
img
{
    width:278px;
    height:100px;
}

header
{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color: var(--green);
    /*position: fixed;*/
    top:0;
}
.navbar a
{
    color:white;
    font-weight: bold;
    font-size:24px;
    margin-left:10px;
    text-decoration: none;
}
#shopping
{
    color:var(--white);
    background-color:var(--green);
    box-shadow:3px 3px 3px grey;
    border:none;
    border-radius:25px;
    width:214px;
    height:52px;
    font-weight: bolder;
    font-size: 2em;
    margin-right:40px;
}


 /*====================================
 Beginning of welcome section
 =====================================*/
 #grocery
 {
     width:100%;
     height:691px;
     background-image: url(../images/grocery\ site.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     display:flex;
     justify-content: center;
     align-items: center;
 }

 .rectangle
 {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    border-radius:40px;
    width:686px;
    height:347px;
    background-color: var(--green);
 }
 .rectangle h1
 {
    font-size: 41px;
    color:white;
    font-weight: bolder;
    margin-bottom:20px;
 }
 .rectangle p
 {
    font-size:24px;
    color:white;
    font-weight:bold;
 }
 #Shoppers
 {
    color:var(--white);
    background-color:var(--red);
    box-shadow:3px 3px 3px grey;
    border-radius:30px;
    border:none;
    width:253px;
    height:60px;
    font-size:32px;
    font-weight: bold;
    margin-top:40px;
 }
 /*-------Ending of Welcome Page--------------------*/

 /*-------Start of icons----------------------------*/
#icon
{
    display:flex;
    justify-content: space-evenly;
}

.icons
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:30px;
}
 .icons i
{
    font-size:4em;
    color:var(--green);
}
.icons p
{
    font-size: 2em;
    color:var(--green);
    margin-top:25px;
    margin-bottom:50px;
}
 /*------------End of icons------------------------*/

 /*------------start of elipse circle--------------*/
  .ellipse
  {
    display:flex;
    justify-content: center;
    align-items: center;
    float:left;
    margin-top:60px;
    margin-left:30px;
    width:43px;
    height:43px;
    border-radius:50%;
    background-color:var(--yellow);
    color:var(--green);
  }
  #dairys
  {
    display:flex;
    justify-content: space-between;
  }
  .dairy
  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    font-size:2em; 
    font-weight: bold;  
}
.dairy img
{
     height:60px;
     width:60px;
     border-radius:50%;
}
  /*------------End of elipse circle--------------*/

  /* ---------start brand--------------*/
  #New-brands
  {
    font-size:2em;
    color:var(--green);
    font-weight: bolder;
    margin-left:106px;
    margin-top:80px;
  }
  .brand-container
  {
    display:flex;
    justify-content: space-between;
  }
  #container
  {
    display:flex;
    justify-content: space-evenly;
    margin-top:40px;
  }
  .rectangles
  {
    display:flex;
    height:103px;
    width:288px;
    background-color:var(--green);
    border-radius:0px 10px 10px 0px;
  }
  #paragraph
  {
    font-size: 1.8em;
  }
  
  .rectangles img
  {
    width:102px;
    height:100%;
  }
  .rectangles div
  {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left:15px;
  }
  .rectangles div p
  {
     font-size:larger;
     font-weight: bolder;
     color:white;
  }
  /*----------end of brand-------------*/

  /*----------Start of Trending Products------*/
   .card-container
   {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
   }
   .card-container a
   {
     text-decoration:none;
   }
  
    .trending-products
    {
      font-size: 2em;
      font-weight: bold;
      color:var(--green);
      margin-left:60px;
      margin-top:50px;
      margin-bottom:300px;
    }
  
    .card-rectangle
    {
      width:170px;
      height:212px;
      background-color: var(--green);
      border-radius: 10px 10px 10px 10px;
      margin-top:20px;
    }
    .card-rectangle img
    {
      width:100%;
      height:109px;
      border-radius:10px 10px 0px 0px;
    }
    #Tomato
    {
      color:var(--white);
      font-weight: bold;
      margin-left:15px;
      font-size:20px;
    }
    #quantity
    {
      color:var(--white);
      font-weight:normal;
      margin-left:15px;
      font-size:15px;
    }
    .card-rectangle p i
    {
      color:var(--yellow);
      font-size:7px;
      margin-left:10px;
    }
    #price
    {
      color:var(--white);
      font-size:large;
      font-weight: bold;
      margin-left:15px;
    } 
    /*----------End of Trending Products------*/

    /*----------Start of footer--------------*/
    #grocery-shop
    {
      display:flex;
      justify-content: space-between;
      background-color: var(--green);
      width:100%;
    }
    .footer-logo
    {
      display:flex;
      justify-content: center;
      align-items: center;
      width:20%;
      height:100%;
    }
    .footer-logo img
    {
       width:100%;
       height:60%;
    }
    .quick-links
    {
      width:16%;
      padding:10px;
      font-weight: bold;
      color:white;
    }
    .quick-links p
    {
       font-size:30px;
       margin-bottom:20px;
    }
    .quick-links hr
    {
       border-color:black;
       width:60%;
    }

    .quick-links a
    {
      display:block;
      margin:10px;
      color:var(--yellow);
      text-decoration: none;
      font-size:1.3em;
    }
  
   .location
   {
     width:30% !important;
   }
   .address
   {
     color:var(--yellow);
     margin:10px !important;
     font-size:1.3em !important;
   }
   .location img
   {
     width:90%;
     height:15vh;
     border-radius: 25px;
   }
    /*----------End of footer--------------*/
