*
{
    margin:0px;
    padding:0px;
}
:root
{
    --green:#50C878;
    --red:#F70B0B;
    --yellow:#FFDF00;
    --white:#FFFFFF;
}
#product-description-container
{
   display: flex;
   width:100%;
}
.image
{
  width:40%;
}
.texts
{
    width:60%;
}
.image img
{
    width:90%;
} 
#Description
{
   text-align: center;
   color: var(--green);
   font-size: 2em;
   margin-top:40px;
   margin-bottom:50px;
}
#cereal
{
    font-size:2em;
    font-weight:bold;
    color:var(--green);
    margin-bottom:10px;
    margin-left:-20px;
}
.price
{
    font-size:2.7em;
    font-weight:bold;
    color:var(--yellow);
    margin-bottom:20px;
}
#details
{
    font-size: 2em;
    color:var(--green);
    font-weight: bold;
    margin-bottom:15px;
}

#text
{
    font-size:1.4em;
    font-weight: bold;
    color:var(--green);
}
.rectangle
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:441px;
    height:67px;
    background-color: var(--yellow);
    border-radius:40px;
}
#number
{
    font-size:2em;
    color: var(--green);
}
.circle
{
   display:flex;
   justify-content: center;
   align-items: center;
   width:80px;
   height:80px;
   background-color: var(--red);
   border-radius: 50%;
} 
.heart-icons i
{
     
     font-size:2em;
     color:var(--red);
}
#quantity-container
{
    display:flex;
    justify-content: flex-end;
    padding-top:30px;
    padding-bottom:30px;
}


#add-to-cart-button{
    background-color: var(--green);
    color:var(--white);
    font-size:1.9em;
    padding:12px 22px;
    border:none;
    border-radius:40px;
    font-weight:bold;
    text-decoration: none;
}
#add-to-cart-button i
{
   color:var(--yellow);
   margin-right:20px;
}
@media screen and (max-width: 480px)
{
    #product-description-container
    {
        
        flex-direction:column;
    }
    .texts
    {
      width:100%;
      font-size: 1.2em;
     
    }
    .image
    {
        display: flex;
        justify-content: center;
        width:100%;
    }
    .image img
    {
       width:50%;
    }
    #cereal
    {
        font-size: 1.7em;
    }
    .price
    {
        font-size:1.9em;
       
    }
    #details
    {
        font-size: 1.9em;
       
    }
    #text
    {
        font-size:1em;
        
    }
    .circle
    {
       width:50px;
       height:50px;

    }
    .rectangle
    {
        width:50%;
        height:40px;
        margin-left:auto;
        margin-right: auto;
    }
    #containing
    {     
        flex-direction: column;
        align-items: center;
    }
    #containing a
    {
        margin-top:30px;
    }
    #grocery-shop
    {
        flex-direction: column;
        width:100% !important;
    }
    .footer-logo
    {
        width:100% !important;
    }
    .quick-links hr, .location hr
    {
        width:90% !important;
    }
    .quick-links
    {
        width:100% !important;
    }
    .location
    {
        width:100% !important;
    }
}

#heart
{
   font-size:1.9em;
   color:var(--green);
   font-weight:bold;
   text-decoration: none;    
}
#heart i
{
    color:var(--red);
}
#containing
{
    display: flex;
    justify-content: space-between;

}

/*------Start of footer-------*/

#grocery-shop
{
  display:flex;
  justify-content: space-between;
  background-color: var(--green);
  width:100%;
  margin-top:80px;
}
.footer-logo
{
  display:flex;
  justify-content: center;
  align-items: center;
  width:20%;
  height:100%;
}
.footer-logo img
{
   width:100%;
   height:60%;
}
.quick-links
{
  width:16%;
  padding:10px;
  font-weight: bold;
  color:white;
}
.quick-links p, #locate
{
   font-size:30px;
   margin-bottom:20px;
}
.quick-links hr, .location hr
{
   border-color:black;
   width:60%;
}
.quick-links a
{
  display:block;
  margin:10px;
  color:var(--yellow);
  text-decoration: none;
  font-size:1.3em;
}

.location
{
 width:30%;
 padding:10px;
 font-weight: bold;
 color:white;
}

.address
{
 color:var(--yellow);
 /* margin:10px !important; */
 font-size:1.3em !important;
}
.location img
{
 width:90%;
 height:15vh;
 border-radius: 25px;
}
/*-----------------End of footer-----------------*/